.staatliches-regular {
  font-family: "Staatliches", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color_de_fondo: #1D1616;
  --color_de_titulos: #8e1616;
  --color_de_subtitulos: #d84040;
  --color_de_texto: #EEEEEE;
  --fuente_principal: "Staatliches", serif;
}

* {
  background-color: var(--color_de_fondo);
}

header {
  color: var(--color_de_titulos);
  font-family: var(--fuente_principal);
  text-align: left;
  font-size: xx-large;
}

h2 {
  color: #d84040;
  text-align: justify;
}

section {
  font-family: "Staatliches", serif;
  color: #EEEEEE;
  text-align: justify;
}

legend {
  color: #d84040;
}

button {
  color: #8e1616;
}