.staatliches-regular {
  font-family: "Staatliches", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  color: #8e1616;
  font-family: "Staatliches", serif;
  text-align: justify;
}

h2 {
  color: #d84040;
  text-align: justify;
}

section {
  font-family: "Staatliches", serif;
  color: #EEEEEE;
  text-align: justify;
}

* {
  background-color: #1D1616;
}

legend {
  color: #d84040;
}

button {
  color: #8e1616;
}